<div class="container__big-card">
    <div class="big-card__photo">
      <img src="https://playcon.gg/app/uploads/2022/11/4033106-marvels-avengers-iron-man.png" alt="" height="220px" srcset="">
    </div>
    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="#">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae fugiat voluptatibus placeat, maiores corrupti laudantium cumque voluptatem repellat sit sed necessitatibus ex minima doloribus doloremque vitae numquam neque labore commodi.
        </a>
      </p>
    </div>
</div>
