<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      cardTitle="HOMEM DE FERRO | O RETORNO - 2023 "
      cardDescription="Rumores antigos já diziam que Downey poderia estar tanto na série Coração de Ferro, que estreia em 2023 na Disney+, e o mais recentes apostam que ele possa retornar em algum dos dois próximos filmes dos Vingadores, seja em Dinastia Kang ou Guerras Secretas, filmes que serão o ápice do multiverso na telona."
      photoCover="https://playcon.gg/app/uploads/2022/11/4033106-marvels-avengers-iron-man.png">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
