<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/diegomouradossantos/" target="_blank">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/DiegoMouraOficial" target="_blank">GitHub</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/diegomouraoficial/" target="_blank">Instagram</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/@DiegoMouraOficial" target="_blank">YouTube</a></li>
  </ul>
</div>
